@import "../../../css/partials/helpers.scss";

$aside-panel-width: 350px;

.panel__faq{
  margin: 30px 0;
  border: 1px solid $light-gray;
}

.panel__item{
  padding: 20px;
  border-bottom: 1px solid $light-gray;
  &:last-child{
    border:none;
  }
  &.panel__item_active{
    .panel__link{
      &:before{
        transform: rotate(0);
      }
    }
    .panel__description{
      display: block;
    }
  }
}


.panel__description{
  display: none;
  margin: 8px 0;
}

.panel{
  width: $aside-panel-width;
}

.panel__link{
  padding-right: 20px;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  &:before{
    content:'';
    position: absolute;
    top: 50%;
    right: 0;
    background: url(../../../images/arrow.png) no-repeat;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    transform: rotate(180deg);
  }
}
