footer(class="main__footer")
    .centerWrap
        div(class="flex__container flex__container_row")
            div(class="flex__container flex__container_row flex__column")
                .footer__logo
                    a(href="/")
                        img(src="../../images/logo.png" alt="")
                .footer__menu.flex__container.flex__container_row
                    nav(class="footer__links")
                        a(href="#" class="menu__item") What’s new
                        a(href="#" class="menu__item") Explore
                        a(href="#" class="menu__item") All features
                        a(href="#" class="menu__item") Price
                    nav(class="footer__links")
                        a(href="#" class="menu__item") Blog
                        a(href="#" class="menu__item") About
                        a(href="#" class="menu__item") Documentation
                        a(href="#" class="menu__item") Contact us
            div(class="flex__column footer__information")
                address(class="clink clink_geo") 0547 Leola Summit Apt. 220
                a(href="tel:5822619142" class="clink clink_phone") 582-261-9142
                a(href="mailto:mozelle_heathcote@hotmail.com" class="clink clink_mail") mozelle_heathcote@hotmail.com