
<footer class="main-footer">
	<div class="center-wrap">
		<div class="flex__container flex__container_row">
			<div class="flex__container flex__container_row flex__column">
				<div class="main-footer__logo"><a href="/"><img src="../../images/logo.png" alt=""/></a></div>
				<div class="main-footer__menu flex__container flex__container_row">
					<nav class="main-footer__links"><a class="menu__item" href="#">What’s new</a><a class="menu__item" href="#">Explore</a><a class="menu__item" href="#">All features</a><a class="menu__item" href="#">Price</a></nav>
					<nav class="main-footer__links"><a class="menu__item" href="#">Blog</a><a class="menu__item" href="#">About</a><a class="menu__item" href="#">Documentation</a><a class="menu__item" href="#">Contact us</a></nav>
				</div>
			</div>
			<div class="flex__column main-footer__information">
				<address class="clink clink_geo">0547 Leola Summit Apt. 220</address><a class="clink clink_phone" href="tel:5822619142">582-261-9142</a><a class="clink clink_mail" href="mailto:mozelle_heathcote@hotmail.com">mozelle_heathcote@hotmail.com</a>
			</div>
		</div>
	</div>
</footer>