    <header class="header">
        <div class="centerWrap">
            <div class="header__top flex__container flex__container_row">
                <div class="header__wrap flex__container flex__container_row">
                    <a href="/" class="header__logo">
                        <img src="../../images/logo.png" alt="">
                    </a>
                    <div class="header__lang">
                        <div class="lang_name">in English</div>
                        <nav class="dropdown">
                            <a href="#" class="dropdown__item">на Русском</a>
                        </nav>
                    </div>
                </div>
                <div class="header__wrap">
                    @@include('header__menu.html')
                </div>
            </div>
            <div class="header__content">
                <h1>How I Lost The Secret Of <br> Dazzling Success For 20 <br> Years</h1>
                <a href="#" class="btn">Explore now</a>
                <p class="style__gray">6 Powerful Tips To Creating Testimonials That Sell Your Products Fast</p>
            </div>
        </div>
    </header>