
<header class="header">
	<div class="centerWrap">
		<div class="header__top flex__container flex__container_row">
			<div class="header__wrap flex__container flex__container_row"><a class="header__logo" href="/"><img src="../../images/logo.png" alt=""/></a>
				<div class="header__lang">
					<div class="lang_name">in English</div>
					<nav class="dropdown"><a class="dropdown__item" href="#">на Русском</a></nav>
				</div>
			</div>
			<div class="header__wrap">
				<nav class="header__menu flex__container flex__container_row"><a class="header__menu__item menu__item" href="#">Features<span class="label__alert">New</span></a><a class="header__menu__item menu__item" href="#">Blog</a><a class="header__menu__item menu__item" href="#">About</a></nav>
			</div>
		</div>
		<div class="header__content">
			<h1>How I Lost The Secret Of<br/>Dazzling Success For 20<br/>Years</h1><a class="btn" href="#">Explore now</a>
			<p class="style__gray">6 Powerful Tips To Creating Testimonials That Sell Your Products Fast</p>
		</div>
	</div>
</header>