@import "../../css/partials/helpers.scss";

.header__top{
  padding: 30px 0;
}

.header__wrap{
  align-items: center;
}


.header__lang{
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 60px;
  position: relative;
  &:hover{
    cursor: pointer;
    .lang_name{
      &:before{
        transform: rotate(180deg);
      }
    }
    .dropdown{
      display: block;
    }
  }
}


.lang_name{
  position: relative;
  padding: 0 30px 0 10px;
  &:before{
    content:'';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $main-font-color;
  }
}
.dropdown{
  display: none;
  position: absolute;
  width: calc(100% - 15px);
  background: #fff;
  border-radius: 5px;
  top: 25px;
  z-index: 1;
  box-shadow: $box-shadow;
  &__item{
    padding: 3px 5px 5px 10px;
    display: block;
    font-size: 11px;
  }
}

.header{
  background: url('../../images/bg_first.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  &__content{
    margin: 100px 0 0;
  }
}

@media all and (max-width: 1000px){
  .header__top{
    padding: 10px 0;
  }

  .header__wrap{
    flex-direction: row !important;
    width: 100%;
  }

  .header__lang{
    margin: 0;
  }
  .header__menu{
    flex-direction: row;
    margin: 15px 0 5px;
  }

  .header__content {
    margin: 20px 0;
    text-align: center;
  }
}