nav(class="header__menu flex__container flex__container_row")
    a(href="#" class="header__item menu__item")
        | Features
        span(class="label__alert") New
    a(href="#" class="header__item menu__item") Blog
    a(href="#" class="header__item menu__item") About