
<section class="content">
	<div class="slider__wrapper owl-carousel owl-theme">
		<div class="slider__wrapper__item" style="background: url(&quot;../../images/slider.jpg&quot;)">
			<div class="centerWrap slider__content">
				<time>27 Nov 2018</time>
				<h3>Consumer Psychology In The Industrial<br/>And Manufacturing Equipment<br/>Marketplace</h3>
			</div>
		</div>
		<div class="slider__wrapper__item" style="background: url(&quot;../../images/slider.jpg&quot;)">
			<div class="centerWrap slider__content">
				<time>27 Nov 2018</time>
				<h3>Consumer Psychology In The Industrial<br/>And Manufacturing Equipment<br/>Marketplace</h3>
			</div>
		</div>
	</div>
</section>