section.content
    .slider__wrapper.owl-carousel.owl-theme
        .slider__wrapper__item(style='background: url("../../images/slider.jpg")')
            .centerWrap.slider__content
                time 27 Nov 2018
                h3
                    | Consumer Psychology In The Industrial
                    br
                    | And Manufacturing Equipment
                    br
                    | Marketplace
        .slider__wrapper__item(style='background: url("../../images/slider.jpg")')
                    .centerWrap.slider__content
                        time 27 Nov 2018
                        h3
                            | Consumer Psychology In The Industrial
                            br
                            | And Manufacturing Equipment
                            br
                            | Marketplace