@import "../../css/partials/helpers.scss";

.content{
  &__text{
    width:calc(100% - 430px);
    .user__inform{
      justify-content: flex-start;
      align-items: center;
      .user__avatar{
        margin-right: 8px;
      }
      .user__description{
        p, .style__gray{
          margin: 0;
        }
      }
    }
  }
}

@media all and (max-width: 1000px){
  .content .panel,
  .content .content__text{
    width: 100%;
  }

  .panel{
    order:1;
  }

  .content__text{
    order:2;
  }

  .user__inform{
    justify-content: center;
    .user__description{
      text-align: center;
    }
  }
}