.centerWrap
    .content.flex__container.flex__container_row
        .content__text
            h2 How I Lost The Secret Of Dazzling Success For 20 Years
            .user__inform.flex__container.flex__container_row
                .user__inform__avatar
                    div
                        img(src="../../images/avatar.png" alt="")
                .user__inform__wrapper
                    h4 Harold Holland
                    p.style__gray Editor in chief, Entrepreneur mag. Host of the podcast Pessimists Archive.
            p
                | There is such a lot of talk going around about branding, but what exactly is your brand and how do you use
                | it to help you reach more people and market your products or services? Your brand is the core of your
                | marketing, the central theme around your products and services.
            p
                | Your brand is not your Logo or your Company Name, unless of course you are Microsoft or the Yellow
                | Pages online directory.
            ul
                li Study 800 Numbers Still Popular With Advertisers
                li A Right Media Mix Can Make The Difference
                li Advertise No Matter If You Are Big Or Small
            h3 Getting Free Publicity For Your Business
            p
                | For people to come and hire you, or buy from you in droves, your brand needs to be crystal clear,
                | attractive, exciting and powerful. In fact your brand needs to be powerful enough to rouse your
                | customers into action, and at the same time it needs to actively express you, what you’re about
                | and your uniqueness.
            p
                | Once you’re sure of your brand you also gain a tangible and easy way of talking to people about
                mark
                    | what you do. It makes it so much easier to do your marketing when you have it clear in your mind what it is you’re
                    | selling in the first place.
                | When you’re creating your brand you are creating a memorable marketing message
                | that will inspire people to take action and choose you over your competitors.

            .button__wrapper
                a(href="#" class="btn btn__ics")
                    i(class="icon__btn")
                        img(src="../../images/loader.png" alt="")
                    | Load more
        include Aside/aside.pug