@import "../../css/partials/helpers.scss";

.content{
  &__text{
    width:calc(100% - 430px);
    .user__inform{
      justify-content: flex-start;
      align-items: center;
      &__avatar{
        margin-right: 8px;
      }
      &__wrapper{
        p, .style__gray{
          margin: 0;
        }
      }
    }
  }
}