/*Colors*/
$main-font-color: #373b52;
$gray-color: #9a9eb8;
$white-color:#fff;
$highlight: #3960cc;
$error-color: #f51d57;
$gray-f5: #f5f5fa;
$light-gray:#e1e2eb;
$box-shadow:0 8px 24px -8px rgba(57, 96, 204, 0.48);