@import "../../css/partials/helpers.scss";

.form__wrapper{
  max-width: 350px;
  width:100%;
  margin:0 auto;
  button{
    width: 100%;
  }
}


.label__wrapper{
  position: relative;
  margin: 15px 0;
  display: block;
  z-index: 0;
  &.label__wrapper_alert{
    .form__placeholder{
      margin-top: -16px;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.16px;
    }
    input:not([type='checkbox']){
      border-color:$error-color;
    }
  }
  input:not([type='checkbox']){
    z-index: 1;
    background: transparent;
    &:focus{
      ~.form__placeholder{
        margin-top: -16px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.16px;
        transition: all .2s ease-in;
      }
    }
  }
}


.form__placeholder{
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color:$gray-color;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 15px;
  transition: all .2s ease-in;
  z-index: -1;
}

input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox__item {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  border:1px solid $error-color;
}

input:checked ~ .customCheckbox__item {
  background: url('../../images/checkbox/icons/checked/checked.png');
}

.customCheckbox__item:after {
  content: "";
  position: absolute;
  display: none;
}

.customCheckbox{
  padding-left: 30px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
}

.nice-select{
  float: none;
  border: 1px solid $light-gray;
  padding: 8px 30px 8px 15px;
  color: $gray-color;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  &.open{
    border-color: $gray-color;
  }
  ul.list{
    width: 100%;
    li{
      &:before{
        display: none;
      }
    }
  }
}
