section(class="centerWrap")
    .content
        .form_wrapper
            h1(class="center")
                | Choosing The Best Audio Player
                br
                | Software For Your Computer
            p(class="center")
                | If you having trouble about creating a good 4 color poster print, a 4 color printing company that
                br
                | has 4 color poster printing service may be able to help you made your poster.
            form(action="" class="form__wrapper")
                label(for="" class="label__wrapper")
                    input(type="text")
                    span(class="form__placeholder") First name
                label(for="" class="label__wrapper")
                    input(type="text")
                    span(class="form__placeholder") Last name
                label(for="" class="label__wrapper label__wrapper_alert")
                    input(type="email" value="123asd")
                    span(class="form__placeholder") Email
                label(for="" class="label__wrapper")
                    input(type="text")
                    span(class="form__placeholder") Address
                label(for="confirm" class="label__wrapper")
                   span(class="customCheckbox") I confirm and agree to the processing of my data and information about myself
                       input(type="checkbox" id="confirm")
                       span(class="customCheckbox__item")
                label(for="" class="label__wrapper")
                    select(name="" id="" class="select2")
                        option(value="Country") Country
                        option(value="Russia") Russia
                        option(value="USA") USA
                        option(value="Japen") Japen
                .button__wrapper
                    button(class="btn") Send report