
<section class="centerWrap">
	<div class="content">
		<div class="form_wrapper">
			<h1 class="center">Choosing The Best Audio Player<br/>Software For Your Computer</h1>
			<p class="center">If you having trouble about creating a good 4 color poster print, a 4 color printing company that<br/>has 4 color poster printing service may be able to help you made your poster.</p>
			<form class="form__wrapper" action="">
				<label class="label__wrapper" for="">
					<input type="text"/><span class="form__placeholder">First name</span>
				</label>
				<label class="label__wrapper" for="">
					<input type="text"/><span class="form__placeholder">Last name</span>
				</label>
				<label class="label__wrapper label__wrapper_alert" for="">
					<input type="email" value="123asd"/><span class="form__placeholder">Email</span>
				</label>
				<label class="label__wrapper" for="">
					<input type="text"/><span class="form__placeholder">Address</span>
				</label>
				<label class="label__wrapper" for="confirm"><span class="customCheckbox">I confirm and agree to the processing of my data and information about myself
						<input type="checkbox" id="confirm"/><span class="customCheckbox__item"></span></span></label>
				<label class="label__wrapper" for="">
					<select class="select2" name="" id="">
						<option value="Country">Country</option>
						<option value="Russia">Russia</option>
						<option value="USA">USA</option>
						<option value="Japen">Japen</option>
					</select>
				</label>
				<script>$(document).ready(function() {
    $('.select2').niceSelect();
});
				</script>
				<div class="button__wrapper">
					<button class="btn">Send report</button>
				</div>
			</form>
		</div>
	</div>
</section>