/*Colors*/
/* Third Party */
@import url(../../bower_components/normalize.css/normalize.css);
/*  Custom */
/*Colors*/
@import url(../template/Post/Aside/banner/banner.css);
h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.16px;
  line-height: 48px;
  margin: 20px 0; }

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.16px;
  line-height: 40px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.08px;
  line-height: 32px;
  margin: 0; }

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Lora', serif;
  margin: 12px 0; }

ul, ol {
  padding: 0;
  margin: 20px 0; }
  ul li, ol li {
    padding: 0 0 0 40px;
    margin: 10px 0;
    list-style-type: none;
    position: relative; }
    ul li:before, ol li:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background: #f51d57;
      border-radius: 50%;
      top: 50%;
      margin-top: -2px;
      left: 20px; }

.style__gray {
  color: #9a9eb8;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px; }

.center {
  text-align: center; }

input {
  width: calc(100% - 32px); }

input, select {
  border: 1px solid #e1e2eb;
  padding: 16px 15px 6px;
  color: #373b52;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  transition: all .2s ease-in; }

input:focus, select:focus {
  border-color: #9a9eb8;
  outline: none;
  transition: all .2s ease-in; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 99% center;
  padding: 15px;
  width: 100%; }

a {
  color: #373b52;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  outline: none; }

a, button {
  outline: none; }
  a:hover, button:hover {
    cursor: pointer; }

mark {
  background: #faf5aa; }

img {
  max-width: 100%; }

/*Colors*/
.flex-cards {
  margin: 20px 0; }
  .flex-cards__item {
    width: calc(100% / 3 - 30px); }
    .flex-cards__item p {
      margin: 8px 0; }
  .flex-cards__img img {
    box-shadow: 0 8px 24px -8px rgba(57, 96, 204, 0.48);
    border-radius: 2px; }

@media all and (max-width: 1000px) {
  .flex-cards .flex-cards__item {
    width: 100%; }
    .flex-cards .flex-cards__item + .flex-cards__item {
      margin-top: 20px; } }
/*Colors*/
.main-footer {
  padding: 60px 0;
  border-top: 1px solid #e1e2eb;
  margin-top: 50px; }
  .main-footer__logo {
    margin-right: 50px; }
  .main-footer__links {
    min-width: 160px;
    margin: 0 30px; }
    .main-footer__links a {
      display: block; }
  .main-footer__information .clink {
    color: #373b52;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 32px;
    position: relative;
    display: block;
    font-style: normal;
    margin: 8px 0; }
    .main-footer__information .clink:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 0; }
    .main-footer__information .clink_geo:before {
      background-image: url("../../images/icons/geo.png");
      background-position: 50%;
      background-repeat: no-repeat; }
    .main-footer__information .clink_phone:before {
      background-image: url("../../images/icons/phone.png");
      background-position: 50%;
      background-repeat: no-repeat; }
    .main-footer__information .clink_mail:before {
      background-image: url("../../images/icons/mail.png");
      background-position: 50%;
      background-repeat: no-repeat; }

@media all and (max-width: 1000px) {
  .main-footer__menu {
    flex-direction: row !important; }

  .main-footer {
    padding: 20px 0;
    margin-top: 30px; }
    .main-footer__logo {
      margin: 0;
      text-align: center; }
    .main-footer__links {
      margin: 10px 0;
      min-width: auto;
      max-width: 45%; }
      .main-footer__links .menu__item {
        margin: 0; } }
/*Colors*/
.form__wrapper {
  max-width: 350px;
  width: 100%;
  margin: 0 auto; }
  .form__wrapper .label__wrapper {
    position: relative;
    margin: 15px 0;
    display: block;
    z-index: 0; }
    .form__wrapper .label__wrapper.label__wrapper_alert .form__placeholder {
      margin-top: -16px;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.16px; }
    .form__wrapper .label__wrapper.label__wrapper_alert input:not([type='checkbox']) {
      border-color: #f51d57; }
    .form__wrapper .label__wrapper .form__placeholder {
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      color: #9a9eb8;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: 15px;
      transition: all .2s ease-in;
      z-index: -1; }
    .form__wrapper .label__wrapper input:not([type='checkbox']) {
      z-index: 1;
      background: transparent; }
      .form__wrapper .label__wrapper input:not([type='checkbox']):focus ~ .form__placeholder {
        margin-top: -16px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.16px;
        transition: all .2s ease-in; }
  .form__wrapper button {
    width: 100%; }

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.customCheckbox__item {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #f51d57; }

input:checked ~ .customCheckbox__item {
  background: url("../../images/checkbox/icons/checked/checked.png"); }

.customCheckbox__item:after {
  content: "";
  position: absolute;
  display: none; }

.customCheckbox {
  padding-left: 30px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px; }

.nice-select {
  float: none;
  border: 1px solid #e1e2eb;
  padding: 8px 30px 8px 15px;
  color: #9a9eb8;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px; }
  .nice-select.open {
    border-color: #9a9eb8; }
  .nice-select ul.list {
    width: 100%; }
    .nice-select ul.list li:before {
      display: none; }

/*Colors*/
.header__top {
  padding: 30px 0; }
  .header__top .header__wrap {
    align-items: center; }
    .header__top .header__wrap .header__lang {
      font-size: 12px;
      font-weight: 600;
      line-height: 24px;
      margin: 0 60px;
      position: relative; }
      .header__top .header__wrap .header__lang:hover {
        cursor: pointer; }
        .header__top .header__wrap .header__lang:hover .lang_name:before {
          transform: rotate(180deg); }
        .header__top .header__wrap .header__lang:hover .dropdown {
          display: block; }
      .header__top .header__wrap .header__lang .lang_name {
        position: relative;
        padding: 0 30px 0 10px; }
        .header__top .header__wrap .header__lang .lang_name:before {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -2px;
          right: 5px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #373b52; }
      .header__top .header__wrap .header__lang .dropdown {
        display: none;
        position: absolute;
        width: calc(100% - 15px);
        background: #fff;
        border-radius: 5px;
        top: 25px;
        z-index: 1;
        box-shadow: 0 8px 24px -8px rgba(57, 96, 204, 0.48); }
        .header__top .header__wrap .header__lang .dropdown__item {
          padding: 3px 5px 5px 10px;
          display: block;
          font-size: 11px; }

.header {
  background: url("../../images/bg_first.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }
  .header__content {
    margin: 100px 0 0; }

@media all and (max-width: 1000px) {
  .header__top {
    padding: 10px 0; }
    .header__top .header__wrap {
      flex-direction: row !important;
      width: 100%; }
      .header__top .header__wrap .header__lang {
        margin: 0; }
      .header__top .header__wrap .header__menu {
        flex-direction: row;
        margin: 15px 0 5px; }

  .header__content {
    margin: 20px 0;
    text-align: center; } }
/*Colors*/
.tabs__container .tabs__header {
  border-bottom: 1px solid #e1e2eb;
  padding: 7px 0; }
  .tabs__container .tabs__header .tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 4px; }
    .tabs__container .tabs__header .tabs__item:before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #f51d57;
      display: none; }
    .tabs__container .tabs__header .tabs__item_active:before, .tabs__container .tabs__header .tabs__item:hover:before {
      display: block; }
    .tabs__container .tabs__header .tabs__item:hover {
      text-decoration: none; }
.tabs__container .tabs__content .tabs__contain {
  display: none; }
  .tabs__container .tabs__content .tabs__contain_active {
    display: flex; }

@media all and (max-width: 1000px) {
  .tabs__container .tabs__header .tabs__btn {
    margin-top: 10px; } }
/*Colors*/
.content__text {
  width: calc(100% - 430px); }
  .content__text .user__inform {
    justify-content: flex-start;
    align-items: center; }
    .content__text .user__inform .user__avatar {
      margin-right: 8px; }
    .content__text .user__inform .user__description p, .content__text .user__inform .user__description .style__gray {
      margin: 0; }

@media all and (max-width: 1000px) {
  .content .panel,
  .content .content__text {
    width: 100%; }

  .panel {
    order: 1; }

  .content__text {
    order: 2; }

  .user__inform {
    justify-content: center; }
    .user__inform .user__description {
      text-align: center; } }
/*Colors*/
.panel {
  width: 350px; }
  .panel .panel__faq {
    margin: 30px 0;
    border: 1px solid #e1e2eb; }
  .panel .panel__item {
    padding: 20px;
    border-bottom: 1px solid #e1e2eb; }
    .panel .panel__item:last-child {
      border: none; }
    .panel .panel__item.panel__item_active .panel__link:before {
      transform: rotate(0); }
    .panel .panel__item.panel__item_active .panel__description {
      display: block; }
    .panel .panel__item .panel__description {
      display: none;
      margin: 8px 0; }
  .panel .panel__link {
    padding-right: 20px;
    position: relative; }
    .panel .panel__link:hover {
      cursor: pointer; }
    .panel .panel__link:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      background: url(../../../images/arrow.png) no-repeat;
      width: 12px;
      height: 8px;
      margin-top: -4px;
      transform: rotate(180deg); }

/*Colors*/
.slider__wrapper {
  height: 510px;
  position: relative; }
  .slider__wrapper .slider__item {
    height: 100%;
    display: flex;
    align-items: center;
    background-size: cover !important; }
    .slider__wrapper .slider__item .slider__content {
      color: #fff; }
      .slider__wrapper .slider__item .slider__content time {
        color: #e1e2eb; }

.owl-stage-outer {
  height: 100%; }
  .owl-stage-outer .owl-stage {
    height: 100%; }
    .owl-stage-outer .owl-stage .owl-item {
      height: 100%; }

.owl-carousel.owl-theme .owl-nav {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto; }
  .owl-carousel.owl-theme .owl-nav button {
    width: 70px;
    height: 70px;
    border: none;
    background-color: #fff;
    position: absolute;
    top: -35px;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 0; }
    .owl-carousel.owl-theme .owl-nav button span {
      display: none; }
    .owl-carousel.owl-theme .owl-nav button:hover {
      background-color: #e1e2eb;
      background-position: 50%;
      background-repeat: no-repeat; }
      .owl-carousel.owl-theme .owl-nav button:hover.owl-next {
        background-image: url(../../images/arrow.png);
        transform: rotate(90deg); }
      .owl-carousel.owl-theme .owl-nav button:hover.owl-prev {
        background-image: url(../../images/arrow.png);
        transform: rotate(-90deg); }
    .owl-carousel.owl-theme .owl-nav button.owl-next {
      right: 0;
      background-image: url(../../images/arrow.png);
      transform: rotate(90deg); }
    .owl-carousel.owl-theme .owl-nav button.owl-prev {
      left: 0;
      background-image: url(../../images/arrow.png);
      transform: rotate(-90deg); }

.owl-theme .owl-dots {
  position: relative;
  text-align: center;
  margin-top: -30px;
  display: none; }

@media all and (max-width: 1300px) {
  .owl-theme .owl-dots {
    display: block; }

  .owl-nav {
    display: none; } }
@media all and (max-width: 1000px) {
  .slider__wrapper {
    height: 350px; }

  .slider__item .slider__content {
    text-align: center; } }
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 16px/24px 'Montserrat', sans-serif;
  font-weight: 400;
  color: #373b52;
  background: #fff;
  overflow: auto; }

.root-wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.flex__container {
  display: flex; }
  .flex__container_row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .flex__container_column {
    flex-direction: column; }
  .flex__container_vc {
    align-items: center; }
  .flex__container_hz {
    justify-content: center; }
  .flex__container_jcsb {
    justify-content: space-between; }

section {
  width: 100%;
  margin: 20px auto; }

.centerWrap {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }

.label__alert {
  position: absolute;
  top: -6px;
  right: -32px;
  color: #fff;
  font-size: 10px;
  letter-spacing: .16px;
  line-height: 12px;
  border-radius: 1px;
  background-color: #f51d57;
  padding: 2px; }

.error-color {
  color: #f51d57; }

.button__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.btn {
  color: #f51d57;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 30px;
  background: #fff;
  box-shadow: 0 8px 24px -8px rgba(57, 96, 204, 0.48);
  margin: 8px 0;
  position: relative;
  border: none;
  display: inline-block;
  transition: all 0.2s ease-in; }
  .btn:hover {
    text-decoration: none;
    box-shadow: 0 8px 24px -8px rgba(57, 96, 204, 0.8);
    transition: all 0.2s ease-out; }
  .btn.btn__ics {
    padding: 10px 30px 10px 22px;
    color: #373b52;
    border: 1px solid #e1e2eb;
    display: flex;
    flex-direction: row;
    align-items: center; }

.icon__btn {
  display: inherit;
  margin: 0 8px; }

.menu__item {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 30px;
  position: relative; }

/*# sourceMappingURL=style.css.map */
