
<section>
	<div class="centerWrap">
		<div class="flex-cards flex__container flex__container_row">
			<div class="flex-cards__item">
				<div class="flex-cards__img">
					<div class="center"><img src="../../images/card3.jpg" alt=""/></div>
				</div>
				<time class="style__gray2">29 Jun 2018</time>
				<h4>Free Classifieds Using Them To Promote Your Stuff Online</h4>
				<p>Moreover the striking, brilliant and vivid colors are the reason why we are attracted to the posters that we see.</p>
			</div>
			<div class="flex-cards__item">
				<div class="flex-cards__img">
					<div class="center"><img src="../../images/card2.jpg" alt=""/></div>
				</div>
				<time class="style__gray2">04 Jul 2018</time>
				<h4>Research In Advertising</h4>
				<p>To a general advertiser outdoor advertising is worthy of consideration. Outdoor advertising is considered as the oldest form of advertising.</p>
			</div>
			<div class="flex-cards__item">
				<div class="flex-cards__img">
					<div class="center"><img src="../../images/card1.jpg" alt=""/></div>
				</div>
				<time class="style__gray2">25 Aug 2018</time>
				<h4>Welcome To Desiclassifieds Free Classifieds Free Ads Free Advertisement</h4>
				<p>There are several ways people can make money online. From selling products to advertising.</p>
			</div>
		</div>
	</div>
</section>