section(class="centerWrap")
    .content
        .tabs__container
            header(class="tabs__header flex__container flex__container_row")
                h3 Popular
                nav(class="tabs__btn")
                    a(href="#" class="tabs__btn__item menu__item tabs__btn__item_active") Today
                    a(href="#" class="tabs__btn__item menu__item") This week
                    a(href="#" class="tabs__btn__item menu__item") Month
            section(class="tabs__container__content")
                section(class="flex-cards flex__container flex__container_row flex-cards_active")
                    .flex-cards__item
                        time(class="style__gray") 02 Sep 2018
                        h4 It S Classified How To Utilize Free Classified Ad Sites To Boost Business
                        p  Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.
                    .flex-cards__item
                        time(class="style__gray") 04 Jun 2018
                        h4 12 Handy Tips For Generating Leads Through Cold Calling
                        p
                            | I want to talk about to things that are quite important to me. There are love and one my
                            | personal inadequacies.
                    .flex-cards__item
                        time(class="style__gray") 08 Mar 2018
                        h4 Make Money Online Through Advertising
                        p
                            | Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is
                            | difficult at best.
                section(class="flex-cards flex__container flex__container")
                    .flex-cards__item
                        time(class="style__gray") 02 Sep 2018
                        h4 It S Classified How To Utilize Free Classified Ad Sites To Boost Business
                        p Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.
                    .flex-cards__item
                        time(class="style__gray") 04 Jun 2018
                        h4 12 Handy Tips For Generating Leads Through Cold Calling
                        p
                            | I want to talk about to things that are quite important to me. There are love and one my
                            | personal inadequacies.
                    .flex-cards__item
                        time(class="style__gray") 08 Mar 2018
                        h4 Make Money Online Through Advertising
                        p
                            | Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is
                            | difficult at best.
                section(class="flex-cards flex__container flex__container_row")
                    .flex-cards__item
                        time(class="style__gray") 02 Sep 2018
                        h4 It S Classified How To Utilize Free Classified Ad Sites To Boost Business
                        p Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.
                    .flex-cards__item
                        time(class="style__gray") 04 Jun 2018
                        h4 12 Handy Tips For Generating Leads Through Cold Calling
                        p
                            | I want to talk about to things that are quite important to me. There are love and one my
                            | personal inadequacies.
                    .flex-cards__item
                        time(class="style__gray") 08 Mar 2018
                        h4 Make Money Online Through Advertising
                        p
                            | Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is
                            | difficult at best.