
<section>
	<div class="center-wrap">
		<div class="content">
			<div class="tabs__container">
				<header class="tabs__header flex__container flex__container_row">
					<h3>Popular</h3>
					<nav class="tabs"><a class="tabs__item menu__item tabs__item_active" href="#" data-tab="1">Today</a><a class="tabs__item menu__item" href="#" data-tab="2">This week</a><a class="tabs__item menu__item" href="#" data-tab="3">Month</a></nav>
				</header>
				<section class="tabs__content">
					<div class="flex-cards tabs__contain flex__container flex__container_row tabs__contain_active" data-tab="1">
						<div class="flex-cards__item">
							<time class="style__gray">02 Sep 2018</time>
							<h4>It S Classified How To Utilize Free Classified Ad Sites To Boost Business</h4>
							<p>Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.</p>
						</div>
						<div class="flex-cards__item">
							<time class="style__gray">04 Jun 2018</time>
							<h4>12 Handy Tips For Generating Leads Through Cold Calling</h4>
							<p>I want to talk about to things that are quite important to me. There are love and one my personal inadequacies.</p>
						</div>
						<div class="flex-cards__item">
							<time class="style__gray">08 Mar 2018</time>
							<h4>Make Money Online Through Advertising</h4>
							<p>Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is difficult at best.</p>
						</div>
					</div>
					<div class="flex-cards tabs__contain flex__container flex__container_row" data-tab="2">
						<div class="flex-cards__item">
							<time class="style__gray">02 Sep 2018</time>
							<h4>It S Classified How To Utilize Free Classified Ad Sites To Boost Business</h4>
							<p>Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.</p>
						</div>
						<div class="flex-cards__item">
							<time class="style__gray">04 Jun 2018</time>
							<h4>12 Handy Tips For Generating Leads Through Cold Calling</h4>
							<p>I want to talk about to things that are quite important to me. There are love and one my personal inadequacies.</p>
						</div>
						<div class="flex-cards__item">
							<time class="style__gray">08 Mar 2018</time>
							<h4>Make Money Online Through Advertising</h4>
							<p>Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is difficult at best.</p>
						</div>
					</div>
					<div class="flex-cards tabs__contain flex__container flex__container_row" data-tab="3">
						<div class="flex-cards__item">
							<time class="style__gray">02 Sep 2018</time>
							<h4>It S Classified How To Utilize Free Classified Ad Sites To Boost Business</h4>
							<p>Marketers/advertisers usually focus their efforts on the people responsible for making the purchase.</p>
						</div>
						<div class="flex-cards__item">
							<time class="style__gray">04 Jun 2018</time>
							<h4>12 Handy Tips For Generating Leads Through Cold Calling</h4>
							<p>I want to talk about to things that are quite important to me. There are love and one my personal inadequacies.</p>
						</div>
						<div class="flex-cards__item">
							<time class="style__gray">08 Mar 2018</time>
							<h4>Make Money Online Through Advertising</h4>
							<p>Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is difficult at best.</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>